{% extends"::base.html.twig" %}

{% block title %}About-Souk Medina{% endblock %}
{% block Page %}
    <!-- page -->
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <div class="container">
                <ul class="w3_short">
                    <li>
                        <a href="{{ path('souk_medina_homepage') }}">Home</a>
                        <i>|</i>
                    </li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //page -->
    <!-- about page -->
    <!-- welcome -->
    <div class="welcome">
        <div class="container">
            <!-- tittle heading -->
            <h3 class="tittle-w3l">Welcome to our Site
                <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
            </h3>
            <!-- //tittle heading -->
            <div class="w3l-welcome-info">
                <div class="col-sm-6 col-xs-6 welcome-grids">
                    <div class="welcome-img">
                        <img src="{{ asset('FrontOffice/images/about.jpg') }}" class="img-responsive zoom-img" alt="">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 welcome-grids">
                    <div class="welcome-img">
                        <img src="{{ asset('FrontOffice/images/about2.jpg') }}" class="img-responsive zoom-img" alt="">
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="w3l-welcome-text">
                <p>Les souks de Tunis sont un ensemble de magasins, boutiques et ateliers situés dans la médina de Tunis et édifiés pour la plupart dès le xiiie siècle.

                    Ils s'articulent dans un ensemble de rues et ruelles et sont regroupés par corps de métier. </p>
                <p>Votre boutique spécialisé en artisanat et décoration .Retrouvez nos produits,Events et Local de décoration arab et orientale pas cher. sur notre site en ligne.</p>

            </div>
        </div>
    </div>
    <!-- //welcome -->
    <!-- video -->
    <div class="about">
        <div class="container">
            <!-- tittle heading -->
            <h3 class="tittle-w3l">Our Video
                <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
            </h3>
            <!-- //tittle heading -->
            <div class="about-tp">
                <div class="col-md-8 about-agileits-w3layouts-left">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/REyYYKdBIBQ"  allowfullscreen></iframe>
                </div>
                <div class="col-md-4 about-agileits-w3layouts-right">
                    <div class="img-video-about">
                        <img src="{{ asset('FrontOffice/images/videoimg2.png') }}" alt="">
                    </div>
                    <h4>Souk Medina</h4>
                    <p> marketplace with over 70 million Products</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //video-->
    <!-- //about page -->
{% endblock %}